@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
.introduction {
  width: 100%;
  padding: 6rem 0 0 10vw;
  margin-bottom: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.introduction__content {
  width: 45%;
}
.introduction__content h1 {
  font-weight: 500;
  font-size: clamp(2rem, 1.5rem + 2.5vw, 5rem);
}
.introduction__content p {
  font-size: clamp(1rem, 1rem + 0.55vw, 2rem);
  color: hsl(229, 8%, 60%);
  margin-top: 4rem;
  line-height: 2.8rem;
}
.introduction__content .introduction__content__btn-wrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.4rem;
}

.introduction__illustration {
  flex-shrink: 0;
  width: clamp(40rem, 50%, 80rem);
  position: relative;
}
.introduction__illustration img {
  width: 90%;
  position: relative;
  z-index: 1;
  margin-right: 10%;
}

.illustration__detail {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: -20%;
  right: 0;
  width: 90%;
  height: 85%;
}
.illustration__detail .detail__circle {
  width: 50%;
  height: 100%;
  border-radius: 50% 0 0 50%;
  background-color: hsl(231, 69%, 60%);
}
.illustration__detail .detail__rectangle {
  width: 30%;
  height: 100%;
  background-color: hsl(231, 69%, 60%);
}

@media (max-width: 700px) {
  .introduction {
    flex-direction: column-reverse;
    padding: 0;
    margin-top: 5rem;
  }
  .introduction__content {
    width: 100%;
    padding: 0 calc(0.5rem + 3vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
  .introduction__content h1, .introduction__content p {
    text-align: center;
  }
  .introduction__illustration {
    width: 100%;
    margin-bottom: 12rem;
    padding: 0 0 0 calc(1.5rem + 4vw);
  }
}
header {
  padding: 4rem 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: clamp(12rem, 7rem + 6vw, 17rem);
  font-size: 1vw;
}

.header__menu {
  display: flex;
  gap: clamp(0.4rem, 0.4vw, 1rem);
}

.menu__item {
  font-size: clamp(0.8rem, 0.6rem + 0.5vw, 1.5rem);
  width: clamp(8rem, 9vw, 12rem);
  padding: 1.2rem 0;
  text-align: center;
  color: hsl(229, 8%, 60%);
}

.menu__item--btn {
  background-color: hsl(0, 94%, 66%);
  color: white;
  border-radius: 0.5rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.header__hamburger-btn {
  cursor: pointer;
  display: none;
  flex-flow: column nowrap;
  gap: 0.4rem;
}

.hamburger-btn__row {
  width: 3rem;
  height: 0.4rem;
  background-color: black;
  border-radius: 0.2rem;
}

@media (max-width: 700px) {
  .header__menu {
    display: none;
  }
  .header__hamburger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.features {
  width: 100%;
  margin-top: 15rem;
}

.features__introduction-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.features__introduction-text h2 {
  text-align: center;
  font-size: calc(1.8rem + 1.1vw);
  font-weight: 500;
}
.features__introduction-text p {
  width: min(50rem, 80%);
  margin-top: calc(0.6rem + 1.5vw);
  text-align: center;
  font-size: calc(1rem + 0.4vw);
  line-height: calc(1.5rem + 0.9vw);
  color: hsl(229, 8%, 60%);
}

.features__slider {
  width: 100%;
  margin-top: calc(2rem + 2.3vw);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  overflow-x: hidden;
}

.slider__menu {
  width: auto;
  border-bottom: 0.05rem solid hsl(229, 8%, 60%);
}
.slider__menu button {
  font-size: calc(1rem + 0.4vw);
  text-align: center;
  color: black;
  background-color: transparent;
  width: calc(8rem + 11vw);
  padding: 2rem 0;
  cursor: pointer;
  position: relative;
}
.slider__menu button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-color: hsl(0, 94%, 66%);
  border-radius: 0.15rem;
}

.slider__slides {
  min-width: 100%;
  max-width: 100%;
  margin-top: 5rem;
  display: flex;
}

.slides__slide {
  min-width: 100vw;
  max-width: 100vw;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(3.5rem + 5vw);
}

.slide__illustration {
  flex-shrink: 0;
  width: clamp(20rem, 50%, 60rem);
  position: relative;
  margin-bottom: 13rem;
}
.slide__illustration img {
  width: 90%;
  position: relative;
  z-index: 1;
}

.slide__illustration--large img {
  width: 80%;
}

.slide__illustration__detail {
  display: flex;
  justify-content: flex-end;
  flex-flow: row-reverse nowrap;
  position: absolute;
  bottom: -30%;
  left: -10vw;
  width: 130%;
  height: 100%;
}
.slide__illustration__detail .slide__illustration__detail__circle {
  width: 50%;
  height: 100%;
  border-radius: 0 50% 50% 0;
  background-color: hsl(231, 69%, 60%);
  margin-left: -0.1rem;
}
.slide__illustration__detail .slide__illustration__detail__rectangle {
  width: 30%;
  height: 100%;
  background-color: hsl(231, 69%, 60%);
}

.slide__illustration__detail--large {
  display: flex;
  justify-content: flex-end;
  flex-flow: row-reverse nowrap;
  position: absolute;
  bottom: -15%;
  left: -10vw;
  width: 80%;
  height: 80%;
}
.slide__illustration__detail--large .slide__illustration__detail__circle {
  width: 50%;
  height: 100%;
  border-radius: 0 50% 50% 0;
  background-color: hsl(231, 69%, 60%);
  margin-left: -0.1rem;
}
.slide__illustration__detail--large .slide__illustration__detail__rectangle {
  width: 30%;
  height: 100%;
  background-color: hsl(231, 69%, 60%);
}

.slide__content h3 {
  font-size: calc(2.2rem + 0.8vw);
  font-weight: 500;
}
.slide__content p {
  font-size: calc(1rem + 0.4vw);
  line-height: calc(1.5rem + 0.9vw);
  color: hsl(229, 8%, 60%);
  margin-top: 3rem;
}
.slide__content button {
  margin-top: 3rem;
}

@media (max-width: 700px) {
  .features {
    margin-top: 10rem;
  }
  .slider__menu {
    width: min(80%, 35rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
  .slider__menu button {
    width: 100%;
  }
  .slider__slides {
    margin-top: calc(4rem + 5vw);
    height: auto;
  }
  .slides__slide {
    flex-direction: column;
    gap: 0rem;
    padding: 0;
  }
  .slide__illustration {
    width: 80%;
    margin-bottom: calc(8rem + 5vw);
  }
  .slide__content h3 {
    text-align: center;
    font-size: calc(1.5rem + 2.8vw);
  }
  .slide__content p {
    text-align: center;
    padding: 0 calc(3rem + 2vw);
    font-size: calc(1rem + 0.9vw);
    line-height: calc(2rem + 1.2vw);
  }
  .slide__content button {
    display: none;
  }
  .slide__illustration__detail {
    width: 110%;
  }
}
.download {
  margin-top: 10rem;
}

.download__introduction-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.download__introduction-text h2 {
  text-align: center;
  font-size: calc(1.8rem + 1.1vw);
  font-weight: 500;
}
.download__introduction-text p {
  width: min(50rem, 80%);
  margin-top: calc(0.6rem + 1.5vw);
  text-align: center;
  font-size: calc(1rem + 0.4vw);
  line-height: calc(1.5rem + 0.9vw);
  color: hsl(229, 8%, 60%);
}

.download__browsers-wrapper {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.browsers-wrapper__browser-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
}

.browsers-wrapper__browser-card:nth-child(1) {
  margin-bottom: 7rem;
}

.browsers-wrapper__browser-card:nth-child(3) {
  margin-top: 7rem;
}

.browser-card__browser-content {
  padding: 5rem 2rem 3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.browser-card__browser-content img, .browser-card__browser-content h3, .browser-card__browser-content p {
  display: block;
}
.browser-card__browser-content h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 3rem;
}
.browser-card__browser-content p {
  color: hsl(229, 8%, 60%);
  font-size: 1.3rem;
  margin-top: 1.2rem;
}
.browser-card__browser-content img {
  width: 7rem;
}

.browser-card__divider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  position: absolute;
  top: -2px;
  left: 0;
}
.browser-card__divider .divider__dot {
  flex-shrink: 0;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: hsl(229, 8%, 60%);
}

.browser-card__browser-download-btn {
  padding: 2rem;
  position: relative;
  margin-top: 1rem;
}
.browser-card__browser-download-btn button {
  padding: 1.2rem 3rem;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

footer {
  width: 100%;
  text-align: center;
  padding: 20px;
}

a {
  text-decoration: none;
}

.primary-button {
  background-color: hsl(231, 69%, 60%);
  color: white;
  padding: 1.25rem 1.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 0.25rem solid hsl(231, 69%, 60%);
  font-weight: 500;
  font-size: calc(0.9rem + 0.4vw);
  transition-property: color, background-color;
  transition-duration: 300ms;
}

.primary-button:hover {
  background-color: transparent;
  color: hsl(231, 69%, 60%);
}

.primary-button--gray {
  background-color: hsl(240, 7%, 94%);
  color: hsl(229, 31%, 21%);
  border: 0.25rem solid hsl(240, 7%, 94%);
}

.primary-button--gray:hover {
  background-color: transparent;
  border: 0.25rem solid hsl(229, 8%, 60%);
  color: hsl(229, 31%, 21%);
}

/*# sourceMappingURL=main.css.map */
