@use 'utils/index' as *;
@use 'components/index' as *;

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;

    font-family: $mainFont;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
}

footer {
    width: 100%;
}

a {
    text-decoration: none;
}

.primary-button {
    background-color: $softBlue;
    color: white;
    padding: 1.25rem 1.6rem;
    border-radius: .4rem;
    cursor: pointer;
    border: .25rem solid $softBlue;
    font-weight: 500;
    font-size: calc(.9rem + .4vw);

    transition-property: color, background-color;
    transition-duration: 300ms;
}

.primary-button:hover {
    background-color: transparent;
    color: $softBlue;
}

.primary-button--gray {
    background-color: hsl(240, 7%, 94%);
    color: $veryDarkBlue;
    border: .25rem solid hsl(240, 7%, 94%);
}

.primary-button--gray:hover {
    background-color: transparent;
    border: .25rem solid $grayishBlue;
    color: $veryDarkBlue; 
}

.floating-button {
    position: fixed;
    bottom: calc(3rem + 3vw);
    right: calc(3rem + 3vw);
    z-index: 3;

    width: clamp(4rem, 4rem + 2.2vw, 6rem);
    height: clamp(4rem, 4rem + 2.2vw, 6rem);
    background-color: $softRed;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;

    display: none;
    justify-content: center;
    align-items: center;

    img {
        width: 3rem;
        transition-property: margin-bottom;
        transition-duration: 800ms;
    }
}

.floating-button:hover {
    img {
        margin-bottom: 1rem;
    }
}