@use 'utils/index' as *;
@use 'components/index' as *;

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;

    font-family: $mainFont;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    // position: relative;

    display: flex;
    flex-flow: column nowrap;
}

footer {
    width: 100%;
}

a {
    text-decoration: none;
}

.primary-button {
    background-color: $softBlue;
    color: white;
    padding: 1.25rem 1.6rem;
    border-radius: .4rem;
    cursor: pointer;
    border: .25rem solid $softBlue;
    font-weight: 500;
    font-size: calc(.9rem + .4vw);

    transition-property: color, background-color;
    transition-duration: 300ms;
}

.primary-button:hover {
    background-color: transparent;
    color: $softBlue;
}

.primary-button--gray {
    background-color: hsl(240, 7%, 94%);
    color: $veryDarkBlue;
    border: .25rem solid hsl(240, 7%, 94%);
}

.primary-button--gray:hover {
    background-color: transparent;
    border: .25rem solid $grayishBlue;
    color: $veryDarkBlue; 
}