@use 'breakpoints' as *;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$mainFont: 'Rubik', sans-serif;

$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);

$horizontalPadding: calc(10vw);