@use '../utils/index' as *;

footer {
    width: 100%;
    background-color: $veryDarkBlue;

    @include flex(center, center);
    flex-direction: column;
}

.footer__links-social-wrapper {
    width: 85%;
    padding: 5rem 0;

    @include flex(space-between, center);
    gap: 5rem;
}

.links-social-wrapper__link-wrapper {
    @include flex(flex-start, center);
    flex-wrap: wrap;
    gap: 8rem;

    img {
        height: calc(2rem + .7vw);
    }
}

.link-wrapper__links {
    @include flex(center, center);
    gap: 4rem;

    a {
        color: white;
        font-size: calc(1rem + .2vw);
        letter-spacing: .3rem;
    }
}

.links-social-wrapper__social-wrapper {
    @include flex(center, center);
    gap: 4rem;

    img {
        height: 2.4rem;
    }
}

.footer__attribution {
    width: 100%;
    text-align: center;
    padding: 2rem;
    color: rgb(225, 225, 236);
    font-size: calc(1rem + .2vw);

    a {
        text-decoration: underline; 
        color: $softBlue;
    }
}

@include tabletScreenDown {
    .footer__links-social-wrapper {
        flex-direction: column;
        gap: 8rem;
    }

    .links-social-wrapper__link-wrapper {
        gap: 4rem;
        flex-direction: column;
    }

    .link-wrapper__links {
        flex-direction: column;
    }
}