@use '../utils/index' as *;

header {
    padding: 4rem $horizontalPadding;

    @include flex(space-between, center);
}

header img {
    width: clamp(12rem, 7rem + 6vw, 17rem);
    font-size: 1vw;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: clamp(.4rem, .4vw, 1rem);
}

.menu__item {
    font-size: clamp(.8rem, .6rem + .5vw, 1.5rem);
    width: clamp(8rem, 9vw ,12rem);
    padding: 1.1rem 0;
    text-align: center;
    color: $grayishBlue;

    transition-property: color, background-color;
    transition-duration: 300ms;
}

a.menu__item:hover {
    color: $softRed;
}

.menu__item--btn {
    background-color: $softRed;
    border: .3rem solid $softRed;
    color: white;
    border-radius: .5rem;
    margin-left: 1.5rem;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 300ms;
}

.menu__item--btn:hover {
    background-color: transparent;
    color: $softRed;
}

.header__hamburger-btn {
    cursor: pointer;

    display: none;
    flex-flow: column nowrap;
    gap: .4rem;
}

.hamburger-btn__row {
    width: 3rem;
    height: .4rem;
    background-color: black;
    border-radius: .2rem;
}

@include tabletScreenDown {
    .header__menu {
        display: none;
    }

    .header__hamburger-btn {
        @include flex(center, center);
    }
}