@use '../utils/index' as *;

.join {
    width: 100%;
    background-color: $softBlue;
    margin-top: 12rem;
    padding: 8rem 3rem;

    @include flex(center, center);
    flex-flow: column nowrap;

    h3 {
        font-weight: 400;
        letter-spacing: 1rem;
        line-height: calc(1.8rem + .6vw);
        color: white;
        font-weight: 2rem;
        text-align: center;
        font-size: calc(.8rem + .4vw);
    }

    h2 {
        color: white;
        font-size: calc(2.8rem + .5vw);
        font-weight: 500;
        margin-top: 4rem;
        text-align: center;
    }
}

.join__content-area {
    width: min(55rem, 90%);

    @include flex(center, center);
    flex-flow: column nowrap;
}

.join__contact-area {
    width: min(55rem, 90%);
    margin-top: 6rem;

    @include flex(center, stretch);
    gap: 1rem;
    flex-wrap: wrap;

    button {
        background-color: $softRed;
        border: 0.25rem solid $softRed;
        flex-grow: 1;
        flex-shrink: 0;
    }

    button:hover {
        color: $softRed;
        background-color: white;
    }
}

.contact-area__input-wrapper {
    position: relative;
    flex-grow: 2;
    min-width: 70%;
    flex-shrink: 0;

    input {
        padding: 1rem;
        border-radius: .4rem;
        padding: 1.4rem 5rem 1.4rem 1rem;
        height: 100%;
        width: 100%;
        outline: none;
        font-size: calc(0.9rem + 0.4vw);
        border: 3px solid transparent;
    }

    img {
        height: 2rem;
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
        display: none;
    }
}